In [2]:
#area of triangle#
a=float(input())
b=float(input())
c=float(input())
s=(a+b+c)/3
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

10
10
10
0.0

In [6]:
#swap the number#
a=int(input())
b=int(input())
c=a
a=b
b=c
print("after swapping the number ",a,b)

1
2
after swapping the number 2 1

In [20]:
#celcius to farenheit#
c=int(input("temperature in celcius is "))
f=(c*9/5)+32
print("Temperature in farenheit is",f)

temperature in celcius is 45
Temperature in farenheit is 113.0

In [11]:
#check number is odd or even#
a=input("enter any number")
if(a.isdigit()):
    y=int(a)
  
    if(y%2==0):
        print("NUMBER IS EVEN")
    else:
        print("NUMBER IS ODD")
    
else:
    print("invalid input")

enter any number2.0
invalid input

In [7]:
#check number is positive ,negative or zero#
a=input("enter any number")
try:
    y=int(a)
    if(y>0):
        print("NUMBER IS POSITIVE")
    elif(y==0):
        print("NUMBER IS ZERO")
    else:
        print("NUMBER IS NEGATIVE")
except:
    print("wrong input")

enter any number-52
NUMBER IS NEGATIVE

In [31]:
#CHECK NUMBER IS AMRSTRONG OR NOT#
num=input()
p=len(num)

sum=0
num=int(num)
a=num
while a>0:
    dig=a%10
    sum=sum+dig**p
    a=a//10
if(num==sum):
    print("NUMBER IS ARMSTRONG")
else:
    print("NUMBER IS NOT ARMSTRONG")

153
NUMBER IS ARMSTRONG

In [12]:
#WHILE NUMBER IS FIBRONACCI OR NOT#
n=int(input("enter any number"))
n1,n2=0,1
while(n2<n):
    c=n1+n2
    n1=n2
    n2=c
if(n2==n or n1==n):
    print("yes")
else:
    print("no")

enter any number100
no

In [32]:
n=int(input())
sum=0
a=n
while(a>0):
    dig=n%10
    sum=sum+dig**3
    a=a//10
if(n==sum):
    print("yes")
else:
    print("no")

371
no

In [35]:
n=int(input())
sum=0
a=n
while a>0:
    dig=a%10
    sum=sum+dig**3
    a=a//10
if(n==sum):
    print("yes")
else:
    print("no")

271
no

In [37]:
n=int(input())
n1,n2=0,1
while n2<n:
    c=n1+n2
    n1=n2
    n2=c
if(n1==n) or (n2==n):
    print("THIS NUMBER IS FIBONCCI NUMBER")
else:
    print("THIS NUMBER IS NOT FIBONCCI NUMBER")

8
THIS NUMBER IS FIBRONCCI NUMBER

In [38]:
#SUM OF CUBES N NATURAL NUMBER#
n=int(input("enter n natural number"))
i=1
sum=0
while i<=n:
    sum=sum+i**3
    i+=1
print(sum)

enter n natural number10
3025

In [ ]:
N=int(input())
i=1
while i<=N:
    spaces=1
   
    while spaces<=N-i:
        print("",end="")
        spaces=spaces-1
    j=1   
    while j<=N:
        print(N,end="")
        j=j+1
    print()
    i=i+1

In [2]:
#print odd number in range#
a=int(input("enter start number"))
b=int(input("enter last number "))
while a<=b:
    if(a%2!=0):
        print(a," odd")
    a+=1

enter start number10
enter last number 20
11  odd
13  odd
15  odd
17  odd
19  odd

In [3]:
11111
2222
333
44
5

5

In [6]:
n=int(input())
i=0
x=1
while i<=n:
    j=1
    while j<=n-i:
        print(x,end="")
        j=j+1
      
    print()
    i=i+1
    x=x+1

5
11111
2222
333
44
5

In [9]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(' ',end="")
        spaces=spaces=spaces+1
    j=1
    while j<=i:
        print(1,end="")
        j=j+1
    k=i-1
    while k>0:
        print(1,end="")
        k=k-1
    print()
    i=i+1

5
    1
   111
  11111
 1111111
111111111

In [ ]:
import math

n=int(input())
x=n
i=0
while i<=n:
    spaces=0
    while spaces<=n-i:
        print(end="  ")
        spaces=spaces=spaces+1
    r=0 
    while r<=i:
        a=int((math.factorial(r)/((math.factorial(r-c))*(math.factorial(c)))))
      
        print(a,end="")
        r=r+1
    print()
    i=i+1

In [1]:
#pascel Triangle
import math
n=int(input())
x=n
r=0
while r<=n-1:
    c=0
    while c<n-r:
        print(" ",end="")
        c+=1
    c=0
    while c<=r:
        a=int((math.factorial(r)/((math.factorial(r-c))*(math.factorial(c)))))
        print(a,end=" ")
        c+=1
    r+=1
    print()

4
    1
   1 1
  1 2 1
 1 3 3 1

In [1]:
#write program with of each word  a function that accepts 
# string from keyboard and create a new string after 
#converting character of each word capitalized.
def fun():
    s=input()
    cap=s.title()
    print(cap)
fun()

stop and smell the roses
Stop And Smell The Roses

write a program tht accepts a list from user .your program should reverse the content of list and display it.do not use reverse() method

In [15]:
size=int(input("taking size of list"))
lis=[]
for i in range(size):
    val=(input())
    lis.append(val)
start=0
end=len(lis)-1
while start<=end:
    lis[start],lis[end]=lis[end],lis[start]
    start+=1
    end-=1
print("reversed list is ",lis)

taking size of list5
a
b
c
d
e
reversed list is  ['e', 'd', 'c', 'b', 'a']

In [28]:
size=int(input("enter size of list:"))
userlist=[]
for i in range(size):
    val=int(input())
    userlist.append(val)
print(userlist) 
i=1
maximum=userlist[0]    
for i in range(size):
    if maximum<userlist[i]:
        maximum=userlist[i]
print("maximum number from list is",maximum)

enter size of list:5
87
89
63
52
90
[87, 89, 63, 52, 90]
maximum number from list is 90

sum of each row of matrix of size m*n

In [43]:
#sum of row of matrix
matrix=[
    [2,11,7,12],
    [5,2,9,15],
    [8,3,10,42]
]
m=len(matrix)
n=len(matrix[0])
row_sums=[]
for i in range(m):
    rsum=sum(matrix[i])
    row_sums.append(rsum)
for i,rsum in enumerate(row_sums,start=1):
    print(f"sum of row {i} = {rsum}")

sum of row 1 = 32
sum of row 2 = 31
sum of row 3 = 63

In [3]:
string=input()
uppercase_count=0
lowercase_count=0
digit_count=0
whitespace_count=0
for char in string:
    if char.isupper():
        uppercase_count+=1
    if char.islower():
        lowercase_count+=1
    if char.isdigit():
        digit_count+=1
    if char.isspace():
        whitespace_count+=1
    
    
print("number of uppercase letter in string",uppercase_count) 
print("number of lowercase letter in string", lowercase_count)
print("number of digit  in string"  ,digit_count)
print("number of whitespace  in string",  whitespace_count)

HELLO 11 world
number of uppercase letter in string 5
number of lowercase letter in string 5
number of digit  in string 2
number of whitespace  in string 2

In [5]:
#practice
a=int(input())
b=int(input())
c=int(input())
s=(a+b+c)/3
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

10
10
10
0.0

In [9]:
a=int(input())
b=int(input())
c=a
a=b
b=c
print(a,b)

5
6
6 5

In [22]:
t=int(input("temperature in celcius"))
f=(c*9/5)+32
print(f)

temperature in celcius45
113.0

In [23]:
n=int(input())
if(n%2==0):
    print("number is even")
else:
    print("number is odd")

5
number is odd

In [25]:
n=int(input())
if(n>0):
    print("number is positive")
elif(n<0):
    print("number is negative") 
else:
    
    print("number is zero")

-9
number is negative

In [32]:
n=(input())
p=len(n)
n=int(n) 
sum=0
temp=n
while temp>0:
    dig=temp%10
    sum=sum+dig**p
    temp=temp//10
    
if(sum==n):
    print("number is armstrong")
else:
    print("number is not armstrong")

153
153
number is armstrong

In [35]:
num=int(input())
n1,n2=0,1
while n2<num:
    c=n1+n2
    n1=n2
    n2=c
    print(c)
if(num==c):
    print("yes")
else:
    print("no")

8
1
2
3
5
8
yes

In [38]:
n=int(input("number of elements"))
n1,n2=0,1
i=1
while i<=n:
    c=n1+n2
    n1=n2
    n2=c
    print(c)
    i=i+1

number of elements8
1
2
3
5
8
13
21
34

In [41]:
n=int(input())
i=1
sum=0
while i<=n:
    sum=sum+i**3
    i=i+1
print(sum)

8
1296

In [42]:
n=int(input())
i=1
while i<=n:
    if(i%2==0):
        pass
    else:
        print(i)
    i=i+1

8
1
3
5
7

In [4]:
import math
n=int(input())
r=0
while r<=n-1:
    c=0
    while c<n-r:
        print(" ",end="")
        c=c+1
    c=0
    while c<=r:
        a=int((math.factorial(r))/(math.factorial(r-c)*(math.factorial(c))))
        print(a,end=" ")
        c+=1
    r=r+1
    print()

5
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [55]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print(i,end="")
        j=j+1
    i=i+1
    print()

5
11111
2222
333
44
5

In [59]:
def cap(s):
    s=input()
    capt=s.title()
    print(capt)
cap(s)

smell of flower is beautiful
Smell Of Flower Is Beautiful

In [60]:
num=int(input())
reverse=0
while num>0:
    dig=num%10
    reverse=reverse*10+dig
    num=num//10
print(reverse)

153
351

In [69]:
li=[]
n=int(input())
i=1
while i<=n:
    val=int(input())
    li.append(val)
    
    i=i+1
i=0        
while i<n:
    
    li[i],li[n-1]=li[n-1],li[i]
    i=i+1
    n-=1
print(li)

10
2
3
4
5
6
7
8
9
10
11
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [83]:
n=int(input())
li=list(map(int,input().strip().split()))[:n]

li.sort()

print("maximum number in list is",li[n-1])
print(li)

5
2 3 6 5 5 1 5
maximum number in list is 6
[2, 3, 5, 5, 6]

In [87]:
s=input()
uppercase=0
lowercase=0
digit=0
whitespace=0
for i in s:
    if i.isupper():
        uppercase+=1
    elif i.islower():
        lowercase+=1
    elif i.isdigit():
        digit+=1
    elif i.isspace():
        whitespace+=1
print("number of uppercase in string",uppercase)
print("number of lowercase in string",lowercase)
print("number of digit in string",digit)
print("number of whitespace in string",whitespace)

SMee  22
number of uppercase in string 2
number of lowercase in string 2
number of digit in string 2
number of whitespace in string 2

In [3]:
string1=set(input())
string2=set(input())
string=string1&string2
print("common character in string is",string)

smell
sweet
common character in string is {'e', 's'}

In [8]:
string=input()
count=1
i=0
while i<len(string):
    if 'i' in string:
        count+=1
    elif 'u' in string:
        count+=1
    elif 'e' in string:
        count+=1
    elif 'o' in string:
        count+=1
    elif 'a' in string:
        count+=1
    i=i+1    
print(count)

herish
7

In [7]:
in_tuples=(
    ('Red','White','Blue'),
    ('Green','Pink','purple'),
    ('Orange','Yellow','Lime')
)
def tuples(in_tuples,c):
    result=any(c in tu for tu in in_tuples)
    return result
c1='White'
c2='Olive'
print(in_tuples)
print(f"check if {c1} present in said tuple of tuples")
print(tuples(in_tuples,c1))
print(f"check if {c2} present in said tuple of tuples")
print(tuples(in_tuples,c2))

(('Red', 'White', 'Blue'), ('Green', 'Pink', 'purple'), ('Orange', 'Yellow', 'Lime'))
check if White present in said tuple of tuples
True
check if Olive present in said tuple of tuples
False

In [110]:
result=[n for n in range(1,100) if n%7==0]
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [112]:
result=[n for n in range(1,100) if '3' in str(n)]
print(result)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [114]:
string="harry is a good boy"
result=[n for n in string if n==' ' ]
print(len(result))

4

In [118]:
string="Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
result=[n for n in string if n not in'a,i,e,u,o ," "']
print(result)

['Y', 'l', 'l', 'w', 'Y', 'k', 's', 'l', 'k', 'y', 'l', 'l', 'n', 'g', 'n', 'd', 'y', 'w', 'n', 'n', 'g', 'n', 'd', 'y', 's', 't', 'r', 'd', 'y', 't', 'h', 'y', 'y', 'd', 'l', 'd', 'w', 'h', 'l', 't', 'n', 'g', 'y', 'k', 'y', 'y', 'm', 's']

In [119]:
list1=[1,4,8.99,"hi",("hello",5,4)]
result=[(index,items) for index,items in enumerate(list1)]
print(result)

[(0, 1), (1, 4), (2, 8.99), (3, 'hi'), (4, ('hello', 5, 4))]

In [122]:
list1=[1,4,8.99,"hi",("hello",5,4)]
result=[(list1.index(x),x) for x in list1]
print(result)

[(0, 1), (1, 4), (2, 8.99), (3, 'hi'), (4, ('hello', 5, 4))]

In [127]:
list_a=[1,2,3,4]
list_b=[2,3,5,9]
result=[a for a in list_a if a in list_b]
print(result)

[2, 3]

In [125]:
string="In 1984 there were 13 instances of a protest with over 1000 people attending"
str1=string.split()
result=[n for n in str1 if n.isnumeric()]
print(result)

['1984', '13', '1000']

In [126]:
result=['even' if n%2==0 else 'odd' for n in range(10)]
print(result)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [129]:
string="he is a good person but cheat every time at the time of help"
str1=string.split()
result=[n for n in str1 if len(n)<4]
print(result)

['he', 'is', 'a', 'but', 'at', 'the', 'of']

In [133]:
numbers=list(range(1,10))
divisors=list(range(2,9))
result=[n for n in numbers if any([n%d==0 for d in divisors])]
print(result)

[2, 3, 4, 5, 6, 7, 8, 9]

In [160]:
from functools import reduce
list1=[121,153,256,548,457,412]

def armstrong(s):
    sum1=0
    original_s=s
    
    while s>0:
        dig=s%10
        sum1=dig**3+sum1
        s=s//10
    if sum1==original_s:
        return original_s

        
result=reduce(armstrong,list1)
print(result)

TypeError: armstrong() takes 1 positional argument but 2 were given

In [147]:
from functools import reduce
list1 = [121, 153, 256, 548, 457, 412]
sum1 = 0

def armstrong(s):
    global sum1
    original_s = s  # Store the original value of s
    sum1 = 0  # Reset sum1 for each number
    while s > 0:
        dig = s % 10
        sum1 = dig**3 + sum1
        s = s // 10
    if sum1 == original_s:
        return original_s
    else:
        return 0

result = reduce(armstrong, list1))
print(result)

[0, 153, 0, 0, 0, 0]

In [1]:
from functools import reduce

list1 = [121, 153, 256, 548, 457, 412]

def armstrong_sum(acc , s):
    sum1 = 0
    original_s = s

    while s > 0:
        dig = s % 10
        sum1 = dig**3 + sum1
        s = s // 10

    if sum1 == original_s:
        return  acc+original_s
    else:
        return acc

result =reduce(armstrong_sum, list1,0)
print(result)

153

In [172]:
list1=[1,2,3,4,5,6,7]
def triple(s):
    return s+s+s
result=list(map(triple,list1))
print(result)

[3, 6, 9, 12, 15, 18, 21]

In [174]:
num1=[2,5,9]
num2=[3,5,6]
num3=[5,6,8]
result=list(map(lambda x,y,z:x+y+z,num1,num2,num3))
print(result)

[10, 16, 23]

In [175]:
string=['orange','red','blue','yellow']
result=list(map(list,string))
print(result)

[['o', 'r', 'a', 'n', 'g', 'e'], ['r', 'e', 'd'], ['b', 'l', 'u', 'e'], ['y', 'e', 'l', 'l', 'o', 'w']]

In [181]:
num=[10,20,30,40,50]
index=[]
for i in range(1,len(num)+1):
    index.append(i)
result=list(map(pow,num,index))
print(result)

[10, 400, 27000, 2560000, 312500000]

In [183]:
list1=[1,2,3,4,5,6]
result=list(map(lambda x:x**2,list1))
print(result)

[1, 4, 9, 16, 25, 36]

In [185]:
list1=['a','x','E','h','y']
list1.sort(key=str.lower)
def functool(s):
    global list1
    return str(s).upper(),str(s).lower()
result=list(map(functool,list1))
print(result)

[('A', 'a'), ('E', 'e'), ('H', 'h'), ('X', 'x'), ('Y', 'y')]

In [186]:
list1=[1,2,3,4]
list2=[2,5,8,9]
result1=list(map(lambda x,y:x+y,list1,list2))
result2=list(map(lambda x,y:x-y,list1,list2))
print("sum of two lists",result1)
print("difference of two lists",result2)

sum of two lists [3, 7, 11, 13]
difference of two lists [-1, -3, -5, -5]

In [187]:
def rule(x,y):
    return x+y ,x-y
list1=[1,2,3,4]
list2=[2,5,8,9]
result=list(map(rule,list1,list2))
print(result)

[(3, -1), (7, -3), (11, -5), (13, -5)]

In [188]:
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5)
result1=list(map(str,list1))
result2=tuple(map(str,list2))
print(result1)
print(result2)

['1', '2', '3', '4', '5']
('2', '5', '8', '9')

In [202]:
def fibonacci(x=0,y=1):
    n=int(input())
    li=[]
    for i in range(n):
        z=x+y
        x=y
       
        y=z
        li.append(y)
    print(li)
    square=list(map(lambda a:a*a,li))
    print(square)        
fibonacci()
fibonacci()

10
[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[1, 4, 9, 25, 64, 169, 441, 1156, 3025, 7921]
5
[1, 2, 3, 5, 8]
[1, 4, 9, 25, 64]

In [8]:
from functools import reduce
array=[10,20,30,40]
def sum(x,y):
    return x+y
result=reduce(sum,array)
print(result)

100

In [218]:
num=[0,1,2,3,0,1,2,0,6,0,4,-1,-8,-9,-7]
def ratio(s):
    num=[0,0,0,0,1,2,2,2,-1,-8,-9,-7]
    num1=len(num)
    n1=n2=n3=0
    for n in num:
        if n<0:
            n1+=1
        elif(n==0):
            n2+=1
        else:
            n3+=1
    return (n1/num1),(n2/num1),(n3/num1)
result=ratio(num)
print(result)

(0.3333333333333333, 0.3333333333333333, 0.3333333333333333)

In [219]:
list1=['g','hello','world','python']
result=list(map(list,list1))
print(result)

[['g'], ['h', 'e', 'l', 'l', 'o'], ['w', 'o', 'r', 'l', 'd'], ['p', 'y', 't', 'h', 'o', 'n']]

In [221]:
list1=[('red', 'pink'), ('white', 'black'), ('orange', 'green')]
result=list(map(str,list1))
print(result)

["('red', 'pink')", "('white', 'black')", "('orange', 'green')"]

In [227]:
import numpy as np
matrix=[]
rows=int(input("enter number of rows"))
cols=int(input("enter number of columns"))
for i in range(rows):
    a=[]
    for j in range(cols):
        val=int(input())
        a.append(val)
    matrix.append(a)
arr=np.array(matrix)    
for i in range(rows):
    for j in range(cols):
        print(arr[i][j],end=" ")
    print()   
print(type(arr))

enter number of rows3
enter number of columns3
1
2
3
4
5
6
7
8
9
1 2 3
4 5 6
7 8 9
<class 'numpy.ndarray'>

In [238]:
import numpy as np
np.random.seed(111)
a=np.random.randint(1,5,9).reshape(3,3)
print(a)

[[2 4 1]
 [1 4 2]
 [4 2 4]]

In [14]:
import numpy as np
np.random.seed(111)
a=np.random.randint(1,100,4).reshape(2,2)
a

array([[85, 85],
       [85, 87]])

In [20]:
jagged_list = [
    [1, 2, 3],
    [4, 5],
    [6, 7, 8, 9],
    [10]
]
result=jagged_list[3]
print(result)

[10]

In [251]:
# Function to take user input for a jagged list
def input_jagged_list():
    jagged_list = []
    rows = int(input("Enter the number of rows: "))

    for i in range(rows):
        sublist = list(map(int, input(f"Enter space-separated elements for row {i + 1}: ").split()))
        jagged_list.append(sublist)

    return jagged_list

# Example usage
user_jagged_list = input_jagged_list()
print("User Input Jagged List:", user_jagged_list)

Enter the number of rows: 3
Enter space-separated elements for row 1: 1 2 3
Enter space-separated elements for row 2: 1 2
Enter space-separated elements for row 3: 2 5 1
User Input Jagged List: [[1, 2, 3], [1, 2], [2, 5, 1]]

In [259]:
import calendar

print(calendar.month(2022,10))

    October 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [253]:
def list_jag():
    jagged_list=[]
    rows=int(input("enter number of rows"))
    for i in range (rows):
        sublists=list(map(int,input(f"ENter space _seperated inputs{i+1}:").split()))
        jagged_list.append(sublists)
    return jagged_list
print(list_jag())

enter number of rows3
ENter space _seperated inputs1:12
ENter space _seperated inputs2:1 2 3 4 5 6
ENter space _seperated inputs3: 1 2 3
[[12], [1, 2, 3, 4, 5, 6], [1, 2, 3]]

In [256]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [267]:
try:
    
    n=int(input())
    if n%2==0:
        print("even")
    else:
        print("odd")
except ValueError:
    if n<=0:
        print("invalid input")

-2.5
invalid input

In [22]:
f=open("main.txt",'w')
f.write("lorem100 times  not workes in python but in html works properly ")
f.close()
try:
    f=open("main.txt",'r')
    try:
        f.read()
    except:
        print("something went wrong")
except:
    f.close()

In [272]:

try:
    f = open("demofile.txt",'w')
    try:
        f.write("Lorum Ipsum")
    except:
        print("Something went wrong when writing to the file")
    finally:
        f.close()
except:
  print("Something went wrong when opening the file")

In [2]:
in_tuples=(
    ('Red','White','Blue'),
    ('Green','Pink','purple'),
    ('Orange','Yellow','Lime')
)
def tuples(in_tuples,c):
    result=any(c in tu for tu in in_tuples)
    return result
n1="white"
n2="olive"
print(in_tuples) 
print(f"check if {n1} present in tuples of tuple ")
print(tuples(in_tuples,n1))
print(f"check if {n2} present in tuples of tuple ")
print(tuples(in_tuples,n2))

(('Red', 'White', 'Blue'), ('Green', 'Pink', 'purple'), ('Orange', 'Yellow', 'Lime'))
check if white present in tuples of tuple
False
check if olive present in tuples of tuple
False

In [4]:
in_tuples=(
    ('Red','White','Blue'),
    ('Green','Pink','purple'),
    ('Orange','Yellow','Lime')
)
def tuples(in_tuples,c):
    result=any(c in tu for tu in in_tuples)
    return result
c1='White'
c2='Olive'
print(in_tuples)
print(f"check if {c1} present in said tuple of tuples")
print(tuples(in_tuples,c1))
print(f"check if {c2} present in said tuple of tuples")
print(tuples(in_tuples,c2))

(('Red', 'White', 'Blue'), ('Green', 'Pink', 'purple'), ('Orange', 'Yellow', 'Lime'))
check if White present in said tuple of tuples
True
check if Olive present in said tuple of tuples
False

In [12]:
tuples=[(),(),("",),('a','b')]
result=[tu for tu in tuples if not tu ==()]
print(result)

[('',), ('a', 'b')]

In [16]:
list1=[10,20,30,4,40]
list2=[20,30,50,60,80]
list1=set(list1)
list2=set(list2)
print("Difference of two lists are",list(list1.difference(list2)))

Difference of two lists are [40, 10, 4]

In [43]:
def duplcate(input_dict):
    dict1={}
    for key,value_item in input_dict.items():
        dict1[key]=list(set(value_item))
    return dict1
input_dict1={'Manjeet':[1],'Akash':[1,8,9]}
input_dict2={'Manjeet':[1,1,1],'Akash':[1,1,1]}
output1=duplcate(input_dict1)
output2=duplcate(input_dict2)
print(output1)
print(output2)

{'Manjeet': [1], 'Akash': [8, 1, 9]}
{'Manjeet': [1], 'Akash': [1]}

In [24]:
input_list=[1,1,1,1,1,2,2,2,2,3,3,3,44,4]
freq={}
for items in input_list:
    if items in freq:
        freq[items]+=1
    else:
        freq[items]=1
for key , values in freq.items():
    print(f"{key}:{values}")

1:5
2:4
3:3
44:1
4:1

In [28]:
lt=list(map(int,input().split()))
freq={}
for items in lt:
    if items in freq:
        freq[items]+=1
    else:
        freq[items]=1
for key,value in freq.items():
    print(f"{key}:{value}")

1 2 1 2 1 2 1 3 3 3 3 6 2 2 2
1:4
2:6
3:4
6:1

In [9]:
lt=list(map(int,input().split()))
result={key:lt.count(key) for key in lt}

for ke,value in result.items():
    print(f"{ke}:{value}")

1 1 1 2 2 3 3 4 5 6 4 5 6 1 2 4 1
1:5
2:3
3:2
4:3
5:2
6:2

In [13]:
with open("demofile.txt","w") as f:
    f.write("chitkara university at rajpura(punjab).i study in chitkara university")
with open ("demofile.txt","r") as f1:
    content=f1.read()
    modifiedcontent=content.title()
    
with open ("demofile.txt","w") as f2:
    f2.write(modifiedcontent)

In [23]:
with open("file.txt","w") as f:
    f.write("chitkara university at rajpura(punjab).i study in chitkara university")
with open ("file.txt","r") as f1:
    content=f1.read()
    modifiedcontent=content.split()
    li=[]
    for i in modifiedcontent:
        li.append(i)
    
    li.reverse()    
with open ("file.txt","w") as f2:
    for j in li:
        f2.write(j)

In [34]:
#13
try:
    n=(input())
    p=len(n)
    n1=int(n)
    n2=n1
    
    sum1=0
    for i in range(p):
        temp=n1%10
        sum1=sum1+temp**p
        n1=n1//10
       
    if n2==sum1:
        print("number is armstrong")
    else:
        print("number is not armstrong")
except ValueError:
    print("Error invalid input")
finally:
    print("thanks")

153.5
Error invalid input
thanks

In [43]:
test_dict={'Manjeet':[1],'Akash':[1,8,9]}
list1=test_dict['Manjeet']
list2=test_dict['Akash']
new_set1=set(list1)
new_set2=set(list2)
new_set=new_set2.symmetric_difference(new_set1)
new_list=list(new_set)
test_dict['Manjeet']=new_list
test_dict['Akash']=new_list
if len(list1)==1:
    if list1==list(new_set1.intersection(new_set2)):
        test_dict['Manjeet']=[]
if len(list2)==1:
    if list2==list(new_set1.intersection(new_set2)):
        test_dict['Akash']=[]
        
print(test_dict)

{'Manjeet': [], 'Akash': [8, 9]}

[8, 9]

In [11]:
def finals(input_dict):
    result_set={}
    for key,value_items in input_dict.items():
        result_set[key]=list(set(value_items))
    
        return result_set
input_dict1={'Manjeet':[1],'Akash':[1,8,9]}
input_dict2={'Manjeet':[1,1,1],'Akash':[1,1,1]}
final1=finals(input_dict1)
final2=finals(input_dict2)
print(final1)
print(final2)

{'Manjeet': [1]}
{'Manjeet': [1]}

In [9]:
def finals(input_dict):
    result_set = {}
    for key, value_items in input_dict.items():
        result_set[key] = list(set(value_items))
    return result_set

input_dict1 = {'Manjeet': [1], 'Akash': [1, 8, 9]}
input_dict2 = {'Manjeet': [1, 1, 1], 'Akash': [1, 1, 1]}
final1 = finals(input_dict1)
final2 = finals(input_dict2)
print(final1)
print(final2)

{'Manjeet': [1], 'Akash': [8, 1, 9]}
{'Manjeet': [1], 'Akash': [1]}

In [23]:
#classes and objects
class methods:
    def __init__(self):
        self.list1=[]
        self.menu()
    def menu(self):
        print("""options:
        OPTION 1:FOR APPEND IN LIST
        OPTION 2:FOR DELETE THE LIST
        OPTION 3:FOR DISPALY THE LIST
        OPTION 4:FOR EXIT
        """)
        num=input("enter your choice ")
        if num=="1":
            self.append1()
        elif num=="2":
            self.delete()
            self.menu()
        elif num=="3":
            self.display()
        else:
            self.exit()
    def append1(self):
        self.list1.append(int(input("enter the number which you want to append")))
        self.menu()
    def delete(self):
        element=int(input("enter the value you want to delete"))
        if element in self.list1:
            
            self.list1.remove(element)
            print(" element is present in list and that is sucessfully delete")
            
        else:
            print("element is not present in the list")
    def display(self):
        print(self.list1)
        self.menu()
    def exit(self):
        print("Thanks ")
        pass
    
        
obj=methods()

options:
        OPTION 1:FOR APPEND IN LIST
        OPTION 2:FOR DELETE THE LIST
        OPTION 3:FOR DISPALY THE LIST
        OPTION 4:FOR EXIT

enter your choice 1
enter the number which you want to append20
options:
        OPTION 1:FOR APPEND IN LIST
        OPTION 2:FOR DELETE THE LIST
        OPTION 3:FOR DISPALY THE LIST
        OPTION 4:FOR EXIT

enter your choice 2
enter the value you want to delete20
 element is present in list and that is sucessfully delete
options:
        OPTION 1:FOR APPEND IN LIST
        OPTION 2:FOR DELETE THE LIST
        OPTION 3:FOR DISPALY THE LIST
        OPTION 4:FOR EXIT

enter your choice 3
[]
options:
        OPTION 1:FOR APPEND IN LIST
        OPTION 2:FOR DELETE THE LIST
        OPTION 3:FOR DISPALY THE LIST
        OPTION 4:FOR EXIT

enter your choice 4
Thanks

In [26]:
import math
class Circle:
    def __init__(self):
        self.radius=int(input("enter radius of circle"))
    def Area(self):
        result=(math.pi)*(self.radius)**2
        print(result)
    def Perimeter(self):
        result=2*(math.pi)*(self.radius)
        print(result)
obj=Circle()
obj.Area()
obj.Perimeter()

enter radius of circle5
78.53981633974483
31.41592653589793

In [25]:
import math   
    
def nthRowOfPascalTriangle(n):
    
    for i in range(n):
        for c in range(n-i):
               print("",end=" ")
        for c in range(i+1):
            result=int((math.factorial(i))/(math.factorial(i-c)*math.factorial(c)))
            
             
        
            return print(result,end="")
            print()
a=nthRowOfPascalTriangle( int(input())) 
print(a)

5
     1None

In [29]:
import math

def generatePascalTriangle(n):
    triangle = []

    for i in range(n):
        row = []
        for c in range(i + 1):
            result = int(math.factorial(i) / (math.factorial(i - c) * math.factorial(c)))
            row.append(result)
        
        triangle.append(row)

    return triangle

# Example usage:
n = int(input("Enter the number of rows for Pascal's Triangle: "))
result = generatePascalTriangle(n)

# Print the generated Pascal's Triangle
for row in result:
    print(row)

Enter the number of rows for Pascal's Triangle: 5
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [35]:
#User function Template for python3
import math
#User function Template for python3
class Solution:
    

    def nthRowOfPascalTriangle(self,n):
        
        li=[]
        for i in range(self.n):
            li1=[]
            
            for c in range(i+1):
                result=int((math.factorial(i))/(math.factorial(i-c)*math.factorial(c)))
                li1.append(result)
            li.append(li1)     
N=int(input())    
obj=Solution()
a=obj.nthRowOfPascalTriangle(N)
print(a)

4

AttributeError: 'Solution' object has no attribute 'n'

In [42]:
def findFrequency (arr, n, x):
    result={key:arr.count(key) for key in arr}
    print(result)
    final=result[x]
    print(final)

findFrequency([1,1,1,1,1,2,2,2,2,2,3,3,3,3,3],5,1)

{1: 5, 2: 5, 3: 5}
5

In [43]:
def longestAlternatingSequence(nums):
    n = len(nums)
    if n <= 1:
        return n

    # Initialize variables to store the length of the alternating sequence and the current direction
    length = 1
    direction = 0  # 0 represents unknown, 1 represents increasing, -1 represents decreasing

    # Iterate through the array starting from the second element
    for i in range(1, n):
        # Check the direction of the current pair
        current_direction = 1 if nums[i] > nums[i - 1] else -1 if nums[i] < nums[i - 1] else 0

        # If the direction changes or the current pair is equal, update the length and direction
        if current_direction != 0 and current_direction != direction:
            length += 1
            direction = current_direction

    return length

# Example usage:
nums1 = [1, 5, 4]
nums2 = [1, 17, 5, 10, 13, 15, 10, 5, 16, 8]

result1 = longestAlternatingSequence(nums1)
result2 = longestAlternatingSequence(nums2)

print("Output for nums1:", result1)
print("Output for nums2:", result2)

Output for nums1: 3
Output for nums2: 7