In [5]:
numbers = {4, 7, 19, 2, 89, 45, 72, 22}
sorted_numbers = sorted(numbers)

print(sorted_numbers)
print(numbers)

[2, 4, 7, 19, 22, 45, 72, 89]
{2, 4, 7, 72, 45, 19, 22, 89}

In [18]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = list(filter(even, sorted_numbers))
print(even_numbers)

[2, 4, 22, 72]

In [15]:
print(float(3.9999))

3.9999

In [16]:
s1={1,2,3,4}
s2={2,4,6}
print(s1^s2)

{1, 3, 6}

In [17]:
li=[1,2,3,4,5,6,7,8,9]
li1=[]
for i in li:
    li1.append(i^1)
print(li1)

[0, 3, 2, 5, 4, 7, 6, 9, 8]

In [19]:
def solve(a, b):
    return b if a == 0 else solve(b % a, a)
print(solve(20, 50))

10

In [21]:
a=50%20
print(a)

10

In [23]:
def solve(a):
    a = [1, 3, 5]
    print(a)
a = [2, 4, 6]
print(a)
solve(a)
print(a)

[2, 4, 6]
[1, 3, 5]
[2, 4, 6]

In [26]:
def func():
    global value
    value = "Local"
   
value = "Global"

print(value)
func()

Global

In [40]:

def fun(A):
    for i in A:
        if (A.count(i))>(len(A)/2):
            return (i)
A=list(map(int,input().split()))
result=fun(A)
print(result)

1 1 2
1

In [41]:

def fun(nums):
    count_map = {} 

    
    for num in nums:
        if num in count_map:
            count_map[num] += 1
        else:
            count_map[num] = 1

    for num, count in count_map.items():
        if count > len(nums) // 2:
            return num

A=list(map(int,input().split()))
result=fun(A)
print(result)

1 1 1 2 2
1

In [49]:
from collections import Counter

class Solution:
    # @param A : tuple of integers
    # @return an integer
    def majorityElement(self, A):
        c = Counter(A)
        m = c.most_common(1)[0]
        return m[0]
        
obj=Solution()
A=list(map(int,input().split()))
obj.majorityElement(A)

1 1 2

AttributeError: 'Counter' object has no attribute 'mostcommon'

In [53]:
class Solution:

    def maxProfit(self, A):
        profit=0
        for i in range(len(A)-1):
            if A[i]<A[i+1]:
                profit=profit+A[i+1]-A[i]
        return profit
A=list(map(int,input().split()))
obj=Solution()
result=obj.maxProfit(A)
print(result)

5 2 10
8

In [59]:
class Solution:
    # @param A : list of integers
    # @return an integer
    def maxp3(self, A):
        
        N=len(A)
        for i in sorted(A):
            A.sort()
            product=(A[-1])*(A[-2])*(A[-3])
       
        
           
        return product    
A=list(map(int,input().split()))
obj=Solution()
result=obj.maxp3(A)
print(result)

1 3 5 2 8 0 -1 -3
120

In [62]:
A = [ 5, 5, 5, -70,-80]
for i in sorted(A):
     print(i)       
            
b=sorted(A)
print(b)

-80
-70
5
5
5
[-80, -70, 5, 5, 5]

In [65]:
result=[arr for arr in sorted(A) ]
print(result)

[-80, -70, 5, 5, 5]

In [71]:
def subUnsort( A):
    B=A    
    if B==A.sort():
        re=[-1]
        return re
    else:
        result=[arr for arr in sorted(A) ]
        arr1=result[:2]
        return arr1    
obj=subUnsort([1,2,3,4,5,6])    
print(obj)

[1, 2]

In [1]:
a=9
b=5
c=a+b
a=c-a
b=c-b
print(a,b)

5 9

In [4]:
import random
a=random.randint(1,10)
print(a)

3

In [6]:
a=float(input("enter distance in kilometer"))
print(a*0.621371)

enter distance in kilometer100
62.137100000000004

In [7]:
celcius=float(input("enter temperature in celcius"))
faren=(celcius*9/5)+32
print(faren)

enter temperature in celcius37
98.6

In [8]:
import calendar
year =int(input("enter year"))
month=int(input("enter month"))
cal=calendar.month(year,month)
print(cal)

enter year2020
enter month12
   December 2020
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [9]:
a=9
b=5
a=a+b
b=a-b
a=a-b
print(a,b)

5 9

In [16]:
n=int(input("enter any number"))
flag=False
for i in range(2,n):
    if n%i==0:
        flag=True
        break

if flag:
    print("number is not prime")
else:
    print("number is prime")

enter any number2
number is prime

In [21]:
n=int(input("enter any number"))
for num in range(1,n+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

enter any number10
2
3
5
7

In [22]:
import math
num=int(input())
result=math.factorial(num)
print(result)

10
3628800

In [25]:
num=int(input("number of fibonacci series "))
n1,n2=0,1
for i in range(num):
    print(n1)
    c=n1+n2
    n1=n2
    n2=c

number of fibonacci series 10
0
1
1
2
3
5
8
13
21
34

In [29]:
num=(input("enter a number "))
p=len(num)
num=int(num)
num1=num
sum1=0
for i in range(p):
    temp=num%10
    sum1=sum1+temp**p
    num=num//10
if sum1==num1:
    print("number is armstrong")
else:
    print("number is not armstrong")

enter a number 9474
number is armstrong

In [38]:
n=int(input("intervals for armstrong"))

for num in range(10,n+1):
    p=len(str(num))
    temp_num=num
    sum1=0
    
    while temp_num > 0:
        temp=temp_num % 10
        sum1=sum1 + temp ** p
        temp_num//=10
        
    if sum1==num:
        print(num)

intervals for armstrong1000
153
370
371
407

In [40]:
n=int(input())
for num in range(10,n+1):
    p=len(str(num))
    temp_num=num
    sum1=0
    while temp_num>0:
        temp=temp_num%10
        sum1=sum1+temp**p
        temp_num//=10
    if num==sum1:
        print(num)

1000
153
370
371
407

In [47]:
def lcm(x,y):
    if x>y:
        greater=x
    else:
        greater=y
    while((True)):
        if greater%x==0 and greater%y==0:
            result=greater
            break
        greater+=1
    return result
num1=int(input())
num2=int(input())
x=lcm(num1,num2)
print(x)

54
24
216

In [48]:
def recursive(a,b):
    return b if a==0 else recursive(b%a,a)
x=recursive(54,24)
print(x)

6

In [49]:
num=int(input())
sum=0
for i in range(1,num+1):
    sum=sum+i**3
print(sum)

7
784

In [50]:
arr=[1,2,3,4,5,]
sum=0
for i in arr:
    sum=sum+i
print(sum)

21

In [52]:
def sum1(arr):
    sum=0
    for i in arr:
        sum=sum+i
    return sum
arr=list(map(int,input().split()))
x=sum1(arr)
print(x)

1 2 3 4 5
15

In [54]:
arr=[10,20,30,80,50,60]
max1=arr[0]
for i in range(len(arr)):
    if arr[i]>max1:
        max1=arr[i]
print(max1)

80

In [68]:
def rotate_arr(arr,d):
    n=len(arr)
    temp=[]
    for i in range(d):
        temp.append(arr[i])
    for i in range(n-d):
        arr[i]=arr[d+i]
    arr[:]=arr[:i+1]+temp
    return arr
arr=[1,2,3,4,5]
d=2
x=rotate_arr(arr,d)
print(x)

[3, 4, 5, 1, 2]

In [76]:
arr=[1,2,3,4,5,6]
n=len(arr)
d=2
temp=[]
for i in range(d):
    temp.append(arr[i])
for i in range(n-d):
    arr[i]=arr[d+i]
    
arr[:]=arr[:i+1]+temp    
print(temp)    
print(arr)

[1, 2]
[3, 4, 5, 6, 1, 2]

In [3]:
#35 questions completed#
def reverse(n):
    words=n.split()
    result=[word[::-1] for word in words ]
    return result
n=input("enter any string") 
arr=reverse(n)
print((" ").join(arr))

enter any stringwelcome to chitkara
emoclew ot araktihc

In [13]:
def average(arr):
    sum1 =sum(set(arr))
    n=len(set(arr))
    result=sum1/n
    return round(result)

arr=list(map(int,input().split()))


new=average(arr)
print(new)

 161 182 161 154 176 170 167 171 170 174
169

In [17]:
N=input("enter any string")
index=int(input())
words =N.split()
result=[word[index] for word in words]
print(("").join(result))

enter any stringwelcometo computer engineering
3
cpi

In [21]:
def currency(m,n):
    m=set(m)
    n=set(n)
    p=m.symmetric_difference(n)
    for i in sorted (p):
        print(i,end=" ")
    print()    
    print(sum(p))
m=list(map(int,input().split()))
n=list(map(int,input().split()))
re=currency(m,n)

5 10 100 1000
1 2 500 2000
1 2 5 10 100 500 1000 2000
3618

In [53]:
string=input()
result={key:(string.count(key)) for key in string}
li=[]
for i ,j in result.items():
    li.append(i)
    li.append(j)
for z in li:
    if z==1:
        li.remove(1)
for k in li:
    print(k,end="")

heeelllo
he3l3o

In [64]:
n=int(input())
li=list(map(int,input().split()))
new_li=[]
for i in li:
    new_li.append(str(i))
    
result=[(new_li[i::n]) for i in range(n)]
print(result)

1
1 2 3 4 5
[['1', '2', '3', '4', '5']]

In [73]:
n=int(input())
for i in range(n):
    for j in range(n):
        if (i+j==n-1):
            print(1,end="")
        elif(i+j<(n-1)):
            print(0,end="")
        else:
            print(2,end="")
    
   
    print()

2
01
12

In [ ]:
n=int(input())
li=[]
x=[]
for i in range(n):
    str1=input()
    
    li.append(str1)
for i in li:
    x.append(len(i))
for i in x:
    print(i)
    
max1=max(x)   
new_li=[]
for i in li:
    if max1==len(i):
        new_li.append(i)
  
res=(" ").join(new_li)        
print(res)

In [2]:
x="banana"
txt=x.center(20,"0")
print(txt)

0000000banana0000000

In [3]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

In [4]:
txt = "My name is Ståle"
x = txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [6]:
txt = "Hello, welcome to my world."
print(txt.find("e"))
print(txt.index("e"))

1
1

In [9]:
a={'x':'ram', 'y':'Sharma'}
g="{x} last name is {y}"
print(g.format_map(a))

ram last name is Sharma

In [10]:
txt = "Hello, welcome to my world."
x = txt.index("e", 5, 10)
print(x)

8

In [18]:
txt = "12"
x = txt.isalnum()
print(x)

False

In [20]:
txt = "CompanyX"
x = txt.isalpha()
print(x)

False

In [24]:
txt = "Company(123"
x = txt.isascii()
print(x)

True

In [33]:
txt = "12345"
x = txt.isdigit()
print(x)

False

In [37]:
x="demo"
txt=x.isidentifier()
print(txt)

True

In [39]:
txt = "Hello! Are you #1,,,...///?"
x = txt.isprintable()
print(x)

True

In [40]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [43]:
txt = "I could eat bananas all day"
x = txt.partition("could")
print(x)

('I ', 'could', ' eat bananas all day')

In [45]:
txt = "Mi casa, su casa."
x = txt.lfind("casa")
print(x)

AttributeError: 'str' object has no attribute 'lfind'

In [46]:
txt = "banana"
x = txt.rjust(20)
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [50]:
txt = "I could eat bananas all day, bananas are myfavorite fruit"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day, bananas are myfavorite fruit')

In [53]:
txt = "apple, banana, cherry"
x = txt.split(" ")
print(x)

['apple,', 'banana,', 'cherry']

In [59]:
txt = "Thank you for the musi\ncWelcome to thejungle"
x = txt.splitlines()
print(x)

['Thank you for the musi', 'cWelcome to the\tjungle']

In [64]:
txt = "Hi Sam!"
x = "mSa"

z="uuu"
y = "eJo"
mytable = str.maketrans(x, z,y)
print(txt.translate(mytable))

Hi uuu!

In [71]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"
print(a.zfill(10))
print(b.zfill(35))
print(c.zfill(10))

00000hello
00000000000000welcome to the jungle
000010.000

In [90]:
x="hello"
txt=x.capitalize()
txt=x.title()
txt=x.upper()
txt=x.lower()
txt=x.isupper()
txt=x.islower()
txt=x.isnumeric()
txt=x.isdigit()
txt=x.partition("hello")## returns a tuple of 3 element
txt=x.split()
txt=x.strip()
txt=x.count('l')
txt=x.center(20)
txt=x.zfill(20)
txt=x.find('2')#if element is not present then it returns -1
txt=x.index('e')#it returns an error if not present
txt=x.replace('h','e')
txt=x.isalnum()
txt=x.isalpha()
txt=x.endswith('.')
txt=x.startswith('h')
print(txt)

True

In [88]:
x="{a} i am a developer with experience{b}"
y={'a':'hello','b':'3'}
txt=x.format_map(y)
print(txt)

hello i am a developer with experience3

In [96]:
x="hel"
y="hello"
print(x in y)

True

In [102]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y,end=" ")
    print()

red apple red banana red cherry
big apple big banana big cherry
tasty apple tasty banana tasty cherry

In [105]:
txt="hello122"
print("yes it string") if txt.isalpha() else print("is numeric") if txt.isnumeric() else print("no")

no

In [109]:
txt="hllr"
flag=False
for i in txt:
    if i=="u" or i=="i" or i=="e" or i=="o" or i=="v":
        flag=True
        
if flag:
    print("vowels")
else:
    print("consonant")

consonant

In [112]:
def sorting(n):
    return abs(n)
li=[10,20,30,50,-100,-40]
li.sort(key=sorting)
li

[10, 20, 30, -40, 50, -100]

In [114]:
li=[10,20,30,50,-100,-40]
li1=li.copy()
print(li1)

[10, 20, 30, 50, -100, -40]

In [116]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook","apple"}
z = x.isdisjoint(y)
print(z)

False

In [118]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "b", "a"}
z = x.issubset(y)
print(z)

False

In [123]:
thisdict = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964,
 
}
thisdict["year"]=1965
print(len(thisdict))
print(thisdict["year"])

3
1965

In [127]:
x = ('key1', 'key2', 'key3')
y = 1
z=2
a=3
thisdict = dict.fromkeys(x, y)
print(thisdict)

{'key1': 1, 'key2': 1, 'key3': 1}

In [137]:
car = {
 "brand": "Ford",
 "model": "Mustang",
 "year": 1964
}
car.update({'a':12})
car.pop('year')
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'a': 12}

In [133]:
li=[1,2,3,4,5,6]
del li[1]
li

[1, 3, 4, 5, 6]

In [150]:
def tri_recursion(k):
    if(k > 0):
            
            result = k + tri_recursion(k - 1)
            
    else:
         result = 0
    return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results

21

In [149]:
def get_factorial(n):
    if n< 2:
        return 1
    else:
        return get_factorial(n-1)
    
x=get_factorial(4)    
print(x)

1

In [151]:
def tri_recursion(k):
 if(k > 0):
 result = k + tri_recursion(k - 1)
 print(result)
 else:
 result = 0
 return result
print("\n\nRecursion Example Results")
tri_recursion(6)

IndentationError: expected an indented block after 'if' statement on line 2 (3331002555.py, line 3)

In [160]:
import random
random.seed(3)
print(random.randint(1,1000))
random.seed(3)
print(random.randint(1,1000))

244
244

In [162]:
import datetime
x=datetime.datetime.now()
print(x)

2023-12-19 13:38:12.503920

In [163]:
# Base class
class Vehicle:
     def Vehicle_info(self):
            
            print('Inside Vehicle class')
# Child class
class Car(Vehicle):
     def car_info(self):
            
            
            print('Inside Car class')
# Create object of Car
car = Car()
# access Vehicle's info using car object
car.Vehicle_info()
car.car_info()

Inside Vehicle class
Inside Car class

hello i am a developer of python helllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll

In [179]:
f=open("demo",'r')
x=f.read()
print(x)

hello i am a developer of python helllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll

In [181]:
txt=input()
words=txt.split()
result=[word[::-1] for word in words]
for i in result:
    print(i,end=" ")

Welcome To Chitkara
emocleW oT araktihC

In [184]:
N=int(input())
txt=list(map(int,input().split()))

new_set=set(txt)
N1=len(new_set)
average=round(sum(new_set)/N1)
print(average)

10
161 182 161 154 176 170 167 171 170 174
169

In [188]:
txt=input()
n=int(input())
words=txt.split()
li=[]
for i in words:
    li.append(i[n])
result=("").join(li)
print(result)

basic python programming ****
3
ihg*

In [192]:
M=list(map(int,input().split()))
N=list(map(int,input().split()))
M=set(M)
N=set(N)
new_set=M.symmetric_difference(N)
for i in sorted (new_set):
    print(i,end=" ")
print()
print(sum(new_set))

1 2 5 10
5 10 100 200
1 2 100 200
303

In [199]:
txt=input()
res={key:(txt.count(key)) for key in txt}
li=[]
for key,value in res.items():
    li.append(key)
    li.append(value)
for i in li:
    if i==1:
        li.remove((i))
for i in li:
    print(i,end="")

Raaakkkkeeeeeeeesssssssssh
Ra3k4e8s9h

In [205]:
index=int(input())
li=list(map(int,input().split()))
li1=[]
for i in li:
    li1.append(str(i))
    
res=[li1[i::index] for i in range(index)]
print(res)

4
4 5 6 7 8 9 1 2 3 4 5 6 6
[['4', '8', '3', '6'], ['5', '9', '4'], ['6', '1', '5'], ['7', '2', '6']]

In [209]:
n=int(input())
for i in range(n):
    for j in range(n):
        if i+j<n-1:
            print('0',end=" ")
        elif i+j==n-1:
            print('1',end=" ")
        else:
            print('2',end=" ")
    print()

5
0 0 0 0 1
0 0 0 1 2
0 0 1 2 2
0 1 2 2 2
1 2 2 2 2

In [217]:
n=int(input())
li=[]
for i in range(n):
    var=input()
    li.append(var)
leng=[]    
for i in li:
    leng.append(len(i))
    print(len(i))
ma=max(leng)
res=[]
for i in li:
    if ma==len(i):
        res.append(i)
    else:
        re.append(i)
print((" ").join(res))

3
porsche
volvo
bent
7
5
4
porsche

In [220]:
n=int(input())
if n%100==0 or n%10==0:
    five=n//500
    fifty=(n%500)//50
    ten=(n%50)//10
print("number of five hundred notes:",five)
print("number of fifty notes:",fifty)
print("number of ten notes:",ten)

5080
number of five hundred notes: 10
number of fifty notes: 1
number of ten notes: 3

In [223]:
n=int(input())
m=int(input())
a=int(input())
li=[]
string=""
res=[]
li.append(n)
li.append(m)
li.append(a)
for i in li:
    for j in li:
        for k in li:
            if i==j or j==k or k==i:
                pass
            else:
                st=string+str(i)
                st=st+str(j)
                st=st+str(k)
                res.append(int(st))
                
print(res)
print(res[-1])
print(res[0])

1
2
3
[123, 132, 213, 231, 312, 321]
321
123

In [227]:
roll=int(input())
name=input()
marks=[]
for i in range(5):
    num=int(input())
    marks.append(num)
per=round((sum(marks)/500)*100 ,2)
count=0
for i in marks:
    if i>50:
        count+=1
if count>4:
    print("pass")
elif count<=3:
    print("compartment")
else:
    print("Fail")
print(roll,name,per,count)

123
herish
85
85
85
85
85
pass
123 herish 85.0 5

In [228]:
n=int(input())
li=[]
for i in range(n):
    txt=input()
    li.append(txt)
length=[]
for i in li:
    length.append(len(i))
    print(len(i))
ma=max(length)
res=[]
for i in li:
    if ma==len(i):
        res.append(i)
        
result=(" ").join(res)
print(result)

3
volvo
porsche
Bentley
5
7
7
porscheBentley

In [239]:
def monotonic(arr1):
    increase=decrease=True
    for i in range(1,len(arr1)):
        if arr1[i]>arr1[i-1]:
            decrease=False
        elif arr1[i]<arr1[i-1]:
            increase=False
    return increase or decrease
arr1=list(map(int,input().split()))
x=monotonic(arr1)
print(x)

3 2 1
True

In [244]:
def sum1(arr1,arr2):
    result=[]
    for i in range(len(arr1)):
        row=[]
        for j in range(len(arr1)):
            res=arr1[i][j]*arr2[i][j]
            row.append(res)
        result.append(row)
    return result
arr1=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
arr2=[
    [9,8,7],
    [6,5,4],
    [3,2,1]
]
final=sum1(arr1,arr2)
for i in final:
    print(i)

[9, 16, 21]
[24, 25, 24]
[21, 16, 9]

In [253]:
matrix = [
 [1, 2, 3],
 [4, 5, 6]
]
row=len(matrix)
cols=len(matrix[0])
res=[[0 for _ in range(row)]  for _ in range(cols)]

for i in range(row):
    for j in range(cols):
        res[j][i]=matrix[i][j]
for i in res:
    print(i)

[1, 4]
[2, 5]
[3, 6]

In [257]:
str1=input()
words=str1.split()
result=[word.capitalize() for  word in words]
result.sort()
print(result)

sham rahul aniket lakha
['Aniket', 'Lakha', 'Rahul', 'Sham']

In [276]:
num=int(input())
dig=str(num)
re=num
i=1
res=0
while num>0:
    temp=num%10
    tem=str(temp)
    n=dig.index(tem)+1    
    res=res+temp**n
    num//=10
if res==re:
    print(f"{res} is a disarium")
else:
    print(f"{res} is not disarium")

89
89 is a disarium

In [277]:
def disarium():
    for i in range(1,100):
        dig=str(i)
        res=i
        sum1=0
        while i>0:
            temp=i%10
            tem=str(temp)
            index=dig.index(tem)+1
            sum1=sum1+temp**index
        if sum1==res:
            print(sum1)
        else:
            continue
disarium()

KeyboardInterrupt:

In [282]:
num=int(input())
dig=num
sum=0
while num>0:
    temp=num%10
    sum=sum+temp
    num=num//10
if sum==dig//2:
    print("number is harshad")
else:
    print("number is not harshad")

42
number is not harshad

In [286]:
for i in range(1,100):
    res=i*(i+1)
    while res<100:
        
        print(res,end="|")
        break

2|6|12|20|30|42|56|72|90|

In [290]:
from functools import reduce
def multiply(x,y):
    return x*y

li=[10,20,30,40,50]
res=reduce(multiply,li)
print(res)

12000000

In [293]:
N=int(input())
li=list(map(int,input().split()))
li.sort()
print(li[-1:-N-1:-1])

3
30 10 45 5 20 50 15 3 345 54 67 87 98 100 34
[345, 100, 98]

In [300]:
li=["","","e","",[],1,2,3,4,5]
res=[word for word in li if not word==""]
resu=[i for i in li if i]
print(res)
print(resu)

['e', [], 1, 2, 3, 4, 5]
['e', 1, 2, 3, 4, 5]

In [302]:
word_list = ["apple", "banana", "cherry", "date", "elderberry", "dragon"]
li=[]
for i in word_list:
    if len(i)>5:
        li.append(i)
print(li)

['banana', 'cherry', 'elderberry', 'dragon']

In [306]:
num=int(input())
str1="Hello, wWorld"
li=[]
for i in str1:
    li.append(i)
li.pop(num)

print(("").join(li))

7
Hello, World

In [307]:
str1=["hello","bye","tata"]
str2=["hello","world"]
str1=set(str1)
str2=set(str2)
new_str=str1.symmetric_difference(str2)
print(list(new_str))

['world', 'tata', 'bye']

In [308]:
str1=input()
res={key:(str1.count(key)) for key in str1}
dup=[]
for i,value in res.items():
    if value>1:
        dup.append(i)
        
print(dup)

piyush sharma
['s', 'h', 'a']

In [312]:
my_dict = {
 'a': 10,
 'b': 20,
 'c': 10,
 'd': 30,
 'e': 20
}
li=[]
for i in my_dict.values():
    li.append(i)
sum=0
for i in li:
    sum=sum+i
print(sum)

90

In [344]:
sample_dict = {'apple': 3, 'banana': 1, 'cherry': 2, 'date': 4}
li=[]
sorted1=dict(sorted(sample_dict.items()))
for i,x in (sorted1).items():
    print(f"{i}:{x}")

apple:3
banana:1
cherry:2
date:4

In [323]:
x=int(input())
y=int(input())
result=[[0 for j in range(y)] for i in range(x)]
for i in range(x):
    for j in range(y):
        result[i][j]=i*j
print(result)

3
5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [325]:
li=list(map(str,input().split()))

new_set=set(li)
li1=list(new_set)
li1.sort()
for i in li1:
    print(i,end=" ")

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

In [328]:
str1=input()
letters=0
digits=0
for i in str1:
    if i.isalpha():
        letters+=1
    elif i.isdigit():
        digits+=1
print(letters)
print(digits)

hello world! 123
10
3

In [333]:
class num:
    def __init__(self,n):
        self.n=n
    def func(self):
        for i in range(self.n):
            if i%7==0:
                yield num
obj=num()
x=obj.func(20)
print(x)

TypeError: num.__init__() missing 1 required positional argument: 'n'

In [347]:
str1=" New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3."
str1=str1.lower()
words=str1.split()
    

res={key:(words.count(key)) for key in words}

sorted_dict=dict(sorted(res.items()))

for i,j in sorted_dict.items():
    print(f"{i}:{j}")

2:2
3.:1
3?:1
and:1
between:1
choosing:1
new:1
or:2
python:5
read:1
to:1

In [348]:
class person:
    def getgender(self):
        return "unknown"
class male(person):
    def getgender(self):
        return "male"
class female(person):
    def getgender(self):
        return "female"

In [353]:
n=int(input())
li=[]
for i in range(0,n):
    if i%5==0 and i%7==0:
        li.append(str(i))
res=(",").join(li)
print(res)

100
0,35,70

In [364]:
num=int(input())
n1=0
n2=1
li=[]
for i in range(n):
    li.append(n1)
    c=n1+n2
    n1=n2
    n2=c

for i in li:
    print(i,end=",")

8
0,1,1,2,3,5,8,13,

AttributeError: 'list' object has no attribute 'replace'

In [366]:
li=[1,2,3,"a","b"]
res=[word for word in li if not str(word).isalpha()]
print(res)

[1, 2, 3]

In [372]:
def end(arr,txt):
    index=arr.index(txt)
    arr.insert(len(arr)-1,arr[txt])
    
    return arr
x=end([1,3,2,4,4,1],2)
print(x)

[1, 3, 2, 4, 4, 2, 1]